services:
  chatbot:
    build: .
    container_name: chatbot
    env_file:
      - .env       
    ports:
      - "8000:8000"
    dns:
      - 8.8.8.8
      - 8.8.4.4
    restart: unless-stopped
    depends_on:
      - ollama         

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11434:11434"               
    volumes:
      - ollama_data:/root/.ollama
    restart: unless-stopped

  db:
    image: postgres:latest
    container_name: postgres
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - ollama_data:/var/lib/postgresql/data
  
volumes:
  ollama_data: